<%= render 'layouts/nav' %>
    <div id="copy">
      <%= image_tag "jendiamond_losangeles.png" %>
      <%= image_tag "jendiamondoctocat.png" %>
      <div id="info">
        <h2>Git with Jen Diamond</h2>
        <h3>Introduction to Git and GitHub</h3>
        <h3>thejendiamond@gmail.com</h3>
        <h4><a href="https://github.com/jendiamond"><%= image_tag "octocat.png" %><%= image_tag "linkedin_logo1.png" %></a></h4>
        <h4><a href="https://gist.github.com/jendiamond/18d9c1e9e801d894777a5632394034c1#git-with-jen-diamond">Intro to Git and GitHub Gist</a></h4>
        <h4><a href="https://github.com/gitwithjendiamond">gitwithjendiamond GitHub Organization</a></h4>
        <h4><a href="http://madpad.herokuapp.com/git">MadPad/git</a></h4>
        <h4><a href="https://b.socrative.com/login/student/">Git Quiz / Room AIZHWCIH</a></h4>
      </div>
    </div>
