<%= render 'layouts/nav' %>
<div id="octocats">
  <div id="octocat">
    <%= image_tag "octocats/8bitcat.png" %>
    <%= image_tag "octocats/adventurecat.png" %>
    <%= image_tag "octocats/alexander-kingtocat.png" %>
    <%= image_tag "octocats/astrocat.png" %>

    <%= image_tag "octocats/blacknwhitecat.png" %>
    <%= image_tag "octocats/blinkycat.png" %>
    <%= image_tag "octocats/brunettecat.png" %>
    <%= image_tag "octocats/constructioncat.png" %>

    <%= image_tag "octocats/droctocat.png" %>
    <%= image_tag "octocats/filmtocat.png" %>
    <%= image_tag "octocats/gangnamtocat.png" %>
    <%= image_tag "octocats/georgewcat.png" %>

    <%= image_tag "octocats/glassescat.png" %>
    <%= image_tag "octocats/gocat.png" %>
    <%= image_tag "octocats/heisencat.png" %>
    <%= image_tag "octocats/hellokittycat.png" %>

    <%= image_tag "octocats/instructorcat.png" %>
    <%= image_tag "octocats/jean-luc-picat.png" %>
    <%= image_tag "octocats/knightcat.png" %>
    <%= image_tag "octocats/marilyncat.png" %>

    <%= image_tag "octocats/martinicat.png" %>
    <%= image_tag "octocats/minertocat.png" %>
    <%= image_tag "octocats/muertoscat.png" %>
    <%= image_tag "octocats/murakamicat.png" %>

    <%= image_tag "octocats/ninjya2cat.png" %>
    <%= image_tag "octocats/nyanoctocat.png" %>
    <%= image_tag "octocats/obiwancat.png" %>
    <%= image_tag "octocats/oktobercat.png" %>

    <%= image_tag "octocats/pinkcat.png" %>
    <%= image_tag "octocats/pusheencat.png" %>
    <%= image_tag "octocats/rainbowcat.png" %>
    <%= image_tag "octocats/raloctocat.png" %>

    <%= image_tag "octocats/riddlocat.png" %>
    <%= image_tag "octocats/robotcat.png" %>
    <%= image_tag "octocats/snowoctocat.png" %>
    <%= image_tag "octocats/spideycat.png" %>

    <%= image_tag "octocats/stormtroopercat.png" %>
    <%= image_tag "octocats/supercat.png" %>
    <%= image_tag "octocats/troncat.png" %>
    <%= image_tag "octocats/wolverinecat.png" %>
  </div>
</div>
