<%= render 'layouts/nav' %>
<div id="resources">
  <h2>RESOURCES</h2>
  <h2>Git with Jen Diamond</h2>
  <ul>
    <li>Introduction to Git and GitHub</li>
    <li>thejendiamond@gmail.com</li>
    <li><a href="https://github.com/jendiamond">Jen Diamond's GitHub</a></li>
    <li><a href="https://gist.github.com/jendiamond/18d9c1e9e801d894777a5632394034c1#git-with-jen-diamond">Intro to Git and GitHub Gist</a></li>
    <li><a href="https://github.com/gitwithjendiamond">gitwithjendiamond GitHub Organization</a></li>
    <li><a href="http://madpad.herokuapp.com/git">MadPad/git</a></li>
    <li><a href="https://b.socrative.com/login/student/">Git Quiz / Room AIZHWCIH</a></li>
    <li><a href="https://git-scm.com/documentation">Git Docs</a></li>
    <li><a href="http://daringfireball.net/projects/markdown/basics">Markdown</a></li>
    <li><a href="https://try.github.io/levels/1/challenges/1">Try Git</a></li>
    <li><a href="https://www.atlassian.com/git/">Git by Atlassian</a></li>
    <li><a href="https://bitbucket.org">Bitbucket</a></li>
    <li><a href="http://think-like-a-git.net/">Think Like (a) Git</a></li>
    <li><a href="http://marklodato.github.io/visual-git-guide/index-en.html">A Visual Git Reference</a></li>
    <li><a href="http://rogerdudler.github.io/git-guide/">The simple guide</a></li>
    <li><a href="https://help.github.com/">GitHub Help</a></li>
    <li><a href="http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html">A Note About Git Commit Messages</a></li>
    <li><a href="https://robots.thoughtbot.com/no-newline-at-end-of-file">Always add a newline at the end of your file</a></li>
    <li><a href="http://www.urbandictionary.com/define.php?term=Git">Definition ;)</a></li>
  </ul>
</div>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.url %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path %>
