<ul id="nav">
  <li id="navli"><%= image_tag "github-icon2.png" %></li>
  <%= link_to "Home", root_path %>&nbsp; | &nbsp;
  <%= link_to "Git Workflow", static_gitworkflow_path %>&nbsp; | &nbsp;
  <%= link_to "Resources", resources_path %>&nbsp; | &nbsp;
  <%= link_to "Octocats", static_octocat_path %>&nbsp;|&nbsp;
  <li id="navli"><a href="https://github.com/jendiamond">GitHub</a></li>&nbsp;|&nbsp;
  <li id="navli"><a href="https://gist.github.com/jendiamond">Gists</a></li>
</ul>
